// @import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lexend+Peta:wght@100..900&family=Lexend:wght@100..900&display=swap");
@import "mapbox-gl/dist/mapbox-gl.css";

body {
  background-color: $body-bg;
  overflow: hidden;
  font-family: "Lexend", sans-serif;
  color: $deep-blue;
}

h2 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
}

.logo {
  font-family: "Lexend Peta", sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: $deep-blue;
  margin: 0;
}

.antenna {
  font-family: "Lexend Peta", sans-serif;
  font-weight: 600;
  font-size: 120px;
  color: $deep-blue;
  margin: 0;
  transform: rotate(180deg);
}
