@import "mapbox-gl/dist/mapbox-gl.css";

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lexend+Peta:wght@100..900&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exile&display=block");
@import url("https://fonts.googleapis.com/css2?family=Blaka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Beau+Rivage&family=Blaka&display=block");
@import url("https://fonts.googleapis.com/css2?family=Meddon&display=block");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=block");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  background-color: $body-bg;
  overflow: hidden;
  font-family: "Spectral", sans-serif;
  font-family: "Spectral", sans-serif;
  color: $deep-blue;
}

h2 {
  // font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
  // text-transform: uppercase;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
