@import "mapbox-gl/dist/mapbox-gl.css";

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lexend+Peta:wght@100..900&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exile&display=block");
@import url("https://fonts.googleapis.com/css2?family=Blaka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Beau+Rivage&family=Blaka&display=block");
@import url("https://fonts.googleapis.com/css2?family=Meddon&display=block");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=block");

body {
  background-color: $body-bg;
  overflow: hidden;
  font-family: "Lexend", sans-serif;
  color: $deep-blue;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
}

.meddon-capital {
  text-transform: uppercase;
  font-family: "Meddon", cursive;
  font-size: 56px;
  transform: translate(8px, 32px);
  margin: 0;
}

.meddon-lowercase {
  font-family: "Meddon", cursive;
  font-size: 56px;
  transform: translate(-9px, 24px);
  margin: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
